In [1]:
import pandas as pd
from pathlib import Path

In [2]:
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [3]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [11]:
school_type = pd.DataFrame(school_data, columns=["school_name", "type"])
school_type

              school_name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter

In [12]:
per_school_counts = school_data["school_name"].count()
per_school_counts

15

In [13]:
per_school_budget = pd.DataFrame(school_data, columns=["school_name", "budget"])
per_school_budget

              school_name   budget
0       Huang High School  1910635
1    Figueroa High School  1884411
2     Shelton High School  1056600
3   Hernandez High School  3022020
4     Griffin High School   917500
5      Wilson High School  1319574
6     Cabrera High School  1081356
7      Bailey High School  3124928
8      Holden High School   248087
9        Pena High School   585858
10     Wright High School  1049400
11  Rodriguez High School  2547363
12    Johnson High School  3094650
13       Ford High School  1763916
14     Thomas High School  1043130

In [14]:
per_school = pd.merge(per_school_counts, per_school_budget, how="left", on=["school_name", "school_name"])
per_school

              school_name  size   budget
0       Huang High School  2917  1910635
1    Figueroa High School  2949  1884411
2     Shelton High School  1761  1056600
3   Hernandez High School  4635  3022020
4     Griffin High School  1468   917500
5      Wilson High School  2283  1319574
6     Cabrera High School  1858  1081356
7      Bailey High School  4976  3124928
8      Holden High School   427   248087
9        Pena High School   962   585858
10     Wright High School  1800  1049400
11  Rodriguez High School  3999  2547363
12    Johnson High School  4761  3094650
13       Ford High School  2739  1763916
14     Thomas High School  1635  1043130

In [ ]:
school_calc = (per_school["budget"]/(per_school["size"]))
school_calc

    size            school_name
0   2917      Huang High School
1   2949   Figueroa High School
2   1761    Shelton High School
3   4635  Hernandez High School
4   1468    Griffin High School
5   2283     Wilson High School
6   1858    Cabrera High School
7   4976     Bailey High School
8    427     Holden High School
9    962       Pena High School
10  1800     Wright High School
11  3999  Rodriguez High School
12  4761    Johnson High School
13  2739       Ford High School
14  1635     Thomas High School

     budget            school_name
0   1910635      Huang High School
1   1884411   Figueroa High School
2   1056600    Shelton High School
3   3022020  Hernandez High School
4    917500    Griffin High School
5   1319574     Wilson High School
6   1081356    Cabrera High School
7   3124928     Bailey High School
8    248087     Holden High School
9    585858       Pena High School
10  1049400     Wright High School
11  2547363  Rodriguez High School
12  3094650    Johnson High School
13  1763916       Ford High School
14  1043130     Thomas High School

    size            school_name   budget
0   2917      Huang High School  1910635
1   2949   Figueroa High School  1884411
2   1761    Shelton High School  1056600
3   4635  Hernandez High School  3022020
4   1468    Griffin High School   917500
5   2283     Wilson High School  1319574
6   1858    Cabrera High School  1081356
7   4976     Bailey High School  3124928
8    427     Holden High School   248087
9    962       Pena High School   585858
10  1800     Wright High School  1049400
11  3999  Rodriguez High School  2547363
12  4761    Johnson High School  3094650
13  2739       Ford High School  1763916
14  1635     Thomas High School  1043130

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [12]:
capita_data = {
    'school_name': ['Huang High School', 'Figueroa High School', 'Shelton High School',
                    'Hernandez High School', 'Griffin High School',
                    'Wilson High School', 'Cabrera High School', 'Bailey High School',
                    'Holden High School', 'Pena High School', 'Wright High School',
                    'Rodriguez High School', 'Johnson High School', 'Ford High School',
                    'Thomas High School'],
    'per_school_capita' : ['655.0', '639.0', '600.0', '652.0', '625.0',
                            '578.0', '582.0', '628.0', '581.0', '609.0',
                            '583.0', '637.0', '650.0', '644.0', '638.0']
            
        }

per_school_capita = pd.DataFrame(capita_data)
per_school_capita

              school_name per_school_capita
0       Huang High School             655.0
1    Figueroa High School             639.0
2     Shelton High School             600.0
3   Hernandez High School             652.0
4     Griffin High School             625.0
5      Wilson High School             578.0
6     Cabrera High School             582.0
7      Bailey High School             628.0
8      Holden High School             581.0
9        Pena High School             609.0
10     Wright High School             583.0
11  Rodriguez High School             637.0
12    Johnson High School             650.0
13       Ford High School             644.0
14     Thomas High School             638.0

In [80]:
huang_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Huang High School',:])
huang_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
2912,2912,Michael Combs,M,9th,Huang High School,98,95,0,District,2917,1910635
2913,2913,Monica Barajas,F,9th,Huang High School,64,81,0,District,2917,1910635
2914,2914,Carlos Garner,M,12th,Huang High School,66,73,0,District,2917,1910635
2915,2915,April Williams,F,12th,Huang High School,70,85,0,District,2917,1910635
2916,2916,Karen Blevins,F,10th,Huang High School,82,73,0,District,2917,1910635

In [81]:
huang_avg_math = huang_summary['math_score'].mean()
huang_avg_math

76.62941378128214

In [82]:
huang_avg_read = huang_summary['reading_score'].mean()
huang_avg_read

81.18272197463148

In [83]:
figueroa_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Figueroa High School',:])
figueroa_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411
2918,2918,Nathan Campbell,M,12th,Figueroa High School,97,84,1,District,2949,1884411
2919,2919,Randall Stewart,M,12th,Figueroa High School,67,77,1,District,2949,1884411
2920,2920,Jennifer Brown,F,9th,Figueroa High School,97,64,1,District,2949,1884411
2921,2921,Denise Lopez,F,10th,Figueroa High School,79,64,1,District,2949,1884411
...,...,...,...,...,...,...,...,...,...,...,...
5861,5861,April Sullivan,F,9th,Figueroa High School,81,92,1,District,2949,1884411
5862,5862,Jessica Mccann,F,11th,Figueroa High School,99,66,1,District,2949,1884411
5863,5863,Charles Walker,M,11th,Figueroa High School,98,64,1,District,2949,1884411
5864,5864,Tammy Burns,F,9th,Figueroa High School,91,83,1,District,2949,1884411
5865,5865,Ricky Harrison,M,10th,Figueroa High School,99,65,1,District,2949,1884411

In [84]:
figueroa_avg_math = huang_summary['math_score'].mean()
figueroa_avg_math

76.62941378128214

In [85]:
figueroa_avg_read = huang_summary['reading_score'].mean()
figueroa_avg_read

81.18272197463148

In [86]:
shelton_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Shelton High School',:])
shelton_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,Charter,1761,1056600
5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71,2,Charter,1761,1056600
5868,5868,Todd Barber,M,11th,Shelton High School,95,99,2,Charter,1761,1056600
5869,5869,Desiree King,F,12th,Shelton High School,76,95,2,Charter,1761,1056600
5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82,2,Charter,1761,1056600
...,...,...,...,...,...,...,...,...,...,...,...
7622,7622,Elizabeth Horton,F,11th,Shelton High School,94,73,2,Charter,1761,1056600
7623,7623,April Harper,F,10th,Shelton High School,69,80,2,Charter,1761,1056600
7624,7624,Melanie Chavez,F,12th,Shelton High School,79,86,2,Charter,1761,1056600
7625,7625,Steven Alexander,M,9th,Shelton High School,84,70,2,Charter,1761,1056600
7626,7626,Randy Carson,M,10th,Shelton High School,96,79,2,Charter,1761,1056600

In [87]:
shelton_avg_math = shelton_summary['math_score'].mean()
shelton_avg_math

83.3594548551959

In [88]:
shelton_avg_read = shelton_summary['reading_score'].mean()
shelton_avg_read

83.72572402044293

In [89]:
hernandez_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Hernandez High School',:])
hernandez_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
7627,7627,Russell Davis,M,10th,Hernandez High School,70,88,3,District,4635,3022020
7628,7628,Timothy Walker,M,12th,Hernandez High School,97,93,3,District,4635,3022020
7629,7629,Katie Johnston,F,12th,Hernandez High School,83,81,3,District,4635,3022020
7630,7630,Joann Oconnell,F,12th,Hernandez High School,77,91,3,District,4635,3022020
7631,7631,Sarah Alexander,F,10th,Hernandez High School,84,93,3,District,4635,3022020
...,...,...,...,...,...,...,...,...,...,...,...
12257,12257,Mr. Gregg Rosario,M,9th,Hernandez High School,96,64,3,District,4635,3022020
12258,12258,Beverly Arellano,F,9th,Hernandez High School,96,63,3,District,4635,3022020
12259,12259,Jonathan Miller,M,9th,Hernandez High School,71,91,3,District,4635,3022020
12260,12260,Sierra Collins,F,12th,Hernandez High School,74,68,3,District,4635,3022020
12261,12261,Richard Wilson,M,10th,Hernandez High School,64,81,3,District,4635,3022020

In [90]:
hernandez_avg_math = hernandez_summary['math_score'].mean()
hernandez_avg_math

77.28975188781014

In [91]:
hernandez_avg_read = hernandez_summary['reading_score'].mean()
hernandez_avg_read

80.9344120819849

In [92]:
griffin_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Griffin High School',:])
griffin_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
12262,12262,Heather Wright,F,11th,Griffin High School,79,68,4,Charter,1468,917500
12263,12263,Elizabeth Goodwin,F,10th,Griffin High School,91,81,4,Charter,1468,917500
12264,12264,Michelle Wong,F,9th,Griffin High School,78,89,4,Charter,1468,917500
12265,12265,Scott Roth MD,M,11th,Griffin High School,91,85,4,Charter,1468,917500
12266,12266,Billy Wilson,M,12th,Griffin High School,76,83,4,Charter,1468,917500
...,...,...,...,...,...,...,...,...,...,...,...
13725,13725,Jonathan Pollard,M,9th,Griffin High School,90,94,4,Charter,1468,917500
13726,13726,Sarah Shah,F,9th,Griffin High School,99,75,4,Charter,1468,917500
13727,13727,Megan Bennett,F,10th,Griffin High School,80,91,4,Charter,1468,917500
13728,13728,Donald Barnett,M,12th,Griffin High School,91,96,4,Charter,1468,917500
13729,13729,Kent Miller,M,9th,Griffin High School,91,99,4,Charter,1468,917500

In [93]:
griffin_avg_math = griffin_summary['math_score'].mean()
griffin_avg_math

83.35149863760218

In [94]:
griffin_avg_read = griffin_summary['reading_score'].mean()
griffin_avg_read

83.816757493188

In [95]:
wilson_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Wilson High School',:])
wilson_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
13730,13730,Kelli Anderson,F,10th,Wilson High School,84,71,5,Charter,2283,1319574
13731,13731,Russell Ramirez,M,10th,Wilson High School,72,87,5,Charter,2283,1319574
13732,13732,Eric Butler,M,10th,Wilson High School,97,82,5,Charter,2283,1319574
13733,13733,Warren Kerr,M,11th,Wilson High School,93,68,5,Charter,2283,1319574
13734,13734,Gail Hall,F,9th,Wilson High School,79,72,5,Charter,2283,1319574
...,...,...,...,...,...,...,...,...,...,...,...
16008,16008,Sydney Taylor,F,9th,Wilson High School,72,88,5,Charter,2283,1319574
16009,16009,Steven Holt,M,9th,Wilson High School,92,93,5,Charter,2283,1319574
16010,16010,Hailey Scott,F,10th,Wilson High School,93,96,5,Charter,2283,1319574
16011,16011,Barbara Nicholson,F,11th,Wilson High School,77,97,5,Charter,2283,1319574
16012,16012,Eric Anderson,M,12th,Wilson High School,89,95,5,Charter,2283,1319574

In [96]:
wilson_avg_math = wilson_summary['math_score'].mean()
wilson_avg_math

83.2742006132282

In [97]:
wilson_avg_read = wilson_summary['reading_score'].mean()
wilson_avg_read

83.98948751642575

In [98]:
cabrera_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Cabrera High School',:])
cabrera_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
16013,16013,Olivia Short,F,11th,Cabrera High School,94,94,6,Charter,1858,1081356
16014,16014,Kerry Jones,F,9th,Cabrera High School,98,97,6,Charter,1858,1081356
16015,16015,Bruce Jackson,M,12th,Cabrera High School,78,83,6,Charter,1858,1081356
16016,16016,Amy Green,F,12th,Cabrera High School,89,92,6,Charter,1858,1081356
16017,16017,Melanie Mason,F,12th,Cabrera High School,96,71,6,Charter,1858,1081356
...,...,...,...,...,...,...,...,...,...,...,...
17866,17866,Sonya Roman,F,10th,Cabrera High School,79,86,6,Charter,1858,1081356
17867,17867,Debra Perez,F,10th,Cabrera High School,89,98,6,Charter,1858,1081356
17868,17868,Mr. Dean York,M,11th,Cabrera High School,98,75,6,Charter,1858,1081356
17869,17869,Brandi Swanson,F,12th,Cabrera High School,81,73,6,Charter,1858,1081356
17870,17870,Kim Faulkner,F,10th,Cabrera High School,99,83,6,Charter,1858,1081356

In [99]:
cabrera_avg_math = cabrera_summary['math_score'].mean()
cabrera_avg_math

83.06189451022605

In [100]:
cabrera_avg_read = cabrera_summary['reading_score'].mean()
cabrera_avg_read

83.97578040904197

In [101]:
bailey_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Bailey High School',:])
bailey_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
17871,17871,Blake Martin,M,9th,Bailey High School,75,59,7,District,4976,3124928
17872,17872,Kathryn Kane,F,12th,Bailey High School,84,58,7,District,4976,3124928
17873,17873,Richard Haas,M,11th,Bailey High School,79,86,7,District,4976,3124928
17874,17874,Frank Marsh,M,9th,Bailey High School,71,89,7,District,4976,3124928
17875,17875,Charles Goodman Jr.,M,9th,Bailey High School,90,61,7,District,4976,3124928
...,...,...,...,...,...,...,...,...,...,...,...
22842,22842,Jaclyn Ayala,F,12th,Bailey High School,74,93,7,District,4976,3124928
22843,22843,Jennifer Tapia,F,12th,Bailey High School,79,56,7,District,4976,3124928
22844,22844,Gabriel Ashley,M,9th,Bailey High School,95,88,7,District,4976,3124928
22845,22845,Sarah Cooper,F,10th,Bailey High School,91,62,7,District,4976,3124928
22846,22846,Dr. Nicholas Garcia,M,11th,Bailey High School,90,79,7,District,4976,3124928

In [102]:
bailey_avg_math = bailey_summary['math_score'].mean()
bailey_avg_math

77.04843247588424

In [103]:
bailey_avg_read = bailey_summary['reading_score'].mean()
bailey_avg_read

81.03396302250803

In [104]:
holden_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Holden High School',:])
holden_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
22847,22847,Daniel Rodriguez,M,11th,Holden High School,86,92,8,Charter,427,248087
22848,22848,Bryan Perkins,M,9th,Holden High School,91,81,8,Charter,427,248087
22849,22849,Scott Holder,M,9th,Holden High School,98,93,8,Charter,427,248087
22850,22850,Troy Jackson,M,11th,Holden High School,80,90,8,Charter,427,248087
22851,22851,William Gomez,M,9th,Holden High School,76,85,8,Charter,427,248087
...,...,...,...,...,...,...,...,...,...,...,...
23269,23269,Sharon Douglas,F,9th,Holden High School,78,93,8,Charter,427,248087
23270,23270,Lauren Little,F,9th,Holden High School,94,95,8,Charter,427,248087
23271,23271,Christine Kaufman,F,9th,Holden High School,83,95,8,Charter,427,248087
23272,23272,Christina Smith,F,11th,Holden High School,94,84,8,Charter,427,248087
23273,23273,Joyce Martin,F,10th,Holden High School,77,92,8,Charter,427,248087

In [105]:
holden_avg_math = holden_summary['math_score'].mean()
holden_avg_math

83.80327868852459

In [106]:
holden_avg_read = holden_summary['reading_score'].mean()
holden_avg_read

83.81498829039812

In [107]:
pena_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Pena High School',:])
pena_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
23274,23274,Alec Davis,M,9th,Pena High School,91,75,9,Charter,962,585858
23275,23275,Michael Meyer,M,10th,Pena High School,94,76,9,Charter,962,585858
23276,23276,Donald Gutierrez,M,11th,Pena High School,98,91,9,Charter,962,585858
23277,23277,Travis Chavez,M,11th,Pena High School,78,71,9,Charter,962,585858
23278,23278,Sheena Ball,F,12th,Pena High School,87,92,9,Charter,962,585858
...,...,...,...,...,...,...,...,...,...,...,...
24231,24231,Crystal Pennington,F,12th,Pena High School,84,76,9,Charter,962,585858
24232,24232,Christina Jones,F,10th,Pena High School,69,84,9,Charter,962,585858
24233,24233,John Kennedy,M,9th,Pena High School,79,82,9,Charter,962,585858
24234,24234,Amanda Mendoza,F,11th,Pena High School,79,69,9,Charter,962,585858
24235,24235,Nathaniel Hodge,M,12th,Pena High School,99,96,9,Charter,962,585858

In [108]:
pena_avg_math = pena_summary['math_score'].mean()
pena_avg_math

83.83991683991684

In [109]:
pena_avg_read = pena_summary['reading_score'].mean()
pena_avg_read

84.04469854469855

In [110]:
wright_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Wright High School',:])
wright_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
24236,24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
24237,24237,Kimberly Hamilton,F,10th,Wright High School,84,93,10,Charter,1800,1049400
24238,24238,Ashley Johns,F,10th,Wright High School,88,88,10,Charter,1800,1049400
24239,24239,Stephanie Donovan,F,10th,Wright High School,75,84,10,Charter,1800,1049400
24240,24240,Cynthia Guzman,F,11th,Wright High School,93,82,10,Charter,1800,1049400
...,...,...,...,...,...,...,...,...,...,...,...
26031,26031,Lauren Duncan,F,12th,Wright High School,90,82,10,Charter,1800,1049400
26032,26032,Heather Stuart,F,11th,Wright High School,94,95,10,Charter,1800,1049400
26033,26033,Elizabeth Robbins,F,12th,Wright High School,69,99,10,Charter,1800,1049400
26034,26034,John Mann,M,11th,Wright High School,73,91,10,Charter,1800,1049400
26035,26035,Michael Holmes,M,9th,Wright High School,98,80,10,Charter,1800,1049400

In [111]:
wright_avg_math = wright_summary['math_score'].mean()
wright_avg_math

83.68222222222222

In [112]:
wright_avg_read = wright_summary['reading_score'].mean()
wright_avg_read

83.955

In [113]:
rodriguez_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Rodriguez High School',:])
rodriguez_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
26036,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81,11,District,3999,2547363
26037,26037,Kimberly Calderon,F,10th,Rodriguez High School,80,86,11,District,3999,2547363
26038,26038,William Brady,M,11th,Rodriguez High School,97,62,11,District,3999,2547363
26039,26039,Jacob Padilla,M,11th,Rodriguez High School,79,73,11,District,3999,2547363
26040,26040,Paula Maldonado,F,10th,Rodriguez High School,96,92,11,District,3999,2547363
...,...,...,...,...,...,...,...,...,...,...,...
30030,30030,Gina Blevins,F,12th,Rodriguez High School,76,62,11,District,3999,2547363
30031,30031,Shannon Mack,F,9th,Rodriguez High School,87,93,11,District,3999,2547363
30032,30032,Hayley Snyder,F,12th,Rodriguez High School,97,79,11,District,3999,2547363
30033,30033,Kayla Ruiz,F,10th,Rodriguez High School,76,62,11,District,3999,2547363
30034,30034,Andrew Clark,M,10th,Rodriguez High School,90,95,11,District,3999,2547363

In [114]:
rodriguez_avg_math = rodriguez_summary['math_score'].mean()
rodriguez_avg_math

76.84271067766942

In [115]:
rodriguez_avg_read = rodriguez_summary['reading_score'].mean()
rodriguez_avg_read

80.74468617154288

In [116]:
johnson_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Johnson High School',:])
johnson_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
30035,30035,Lisa Casey,F,12th,Johnson High School,87,87,12,District,4761,3094650
30036,30036,Jessica Lopez,F,9th,Johnson High School,98,62,12,District,4761,3094650
30037,30037,Anna Wilkins,F,11th,Johnson High School,89,77,12,District,4761,3094650
30038,30038,Andrew Smith,M,9th,Johnson High School,66,85,12,District,4761,3094650
30039,30039,Robert Allison,M,11th,Johnson High School,63,85,12,District,4761,3094650
...,...,...,...,...,...,...,...,...,...,...,...
34791,34791,Miranda Vincent,F,9th,Johnson High School,92,64,12,District,4761,3094650
34792,34792,Joshua Murphy,M,9th,Johnson High School,91,70,12,District,4761,3094650
34793,34793,Alicia Cantu,F,11th,Johnson High School,68,78,12,District,4761,3094650
34794,34794,Robert Taylor,M,11th,Johnson High School,80,71,12,District,4761,3094650
34795,34795,Adriana Brown,F,9th,Johnson High School,97,68,12,District,4761,3094650

In [117]:
johnson_avg_math = johnson_summary['math_score'].mean()
johnson_avg_math

77.07246376811594

In [118]:
johnson_avg_read = johnson_summary['reading_score'].mean()
johnson_avg_read

80.96639361478681

In [119]:
ford_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Ford High School',:])
ford_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
34796,34796,Michael Mercado,M,9th,Ford High School,66,94,13,District,2739,1763916
34797,34797,Stephen Wolf,M,11th,Ford High School,68,63,13,District,2739,1763916
34798,34798,Bonnie Hughes,F,12th,Ford High School,73,59,13,District,2739,1763916
34799,34799,Melissa Smith,F,11th,Ford High School,88,58,13,District,2739,1763916
34800,34800,Brian Mitchell,M,10th,Ford High School,96,55,13,District,2739,1763916
...,...,...,...,...,...,...,...,...,...,...,...
37530,37530,William Rivera,M,9th,Ford High School,63,59,13,District,2739,1763916
37531,37531,Bernard Reid,M,9th,Ford High School,94,80,13,District,2739,1763916
37532,37532,Dawn Sawyer,F,12th,Ford High School,91,66,13,District,2739,1763916
37533,37533,Thomas Knapp,M,12th,Ford High School,75,70,13,District,2739,1763916
37534,37534,Melissa Porter,F,9th,Ford High School,76,84,13,District,2739,1763916

In [120]:
ford_avg_math = ford_summary['math_score'].mean()
ford_avg_math

77.10259218692954

In [121]:
ford_avg_read = ford_summary['reading_score'].mean()
ford_avg_read

80.74625775830594

In [122]:
thomas_summary = pd.DataFrame(school_data_complete.loc[school_data_complete['school_name']=='Thomas High School',:])
thomas_summary

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [123]:
thomas_avg_math = thomas_summary['math_score'].mean()
thomas_avg_math

83.4183486238532

In [124]:
thomas_avg_read = thomas_summary['reading_score'].mean()
thomas_avg_read

83.84892966360856

In [13]:
students_passing_math = school_data_complete[(school_data_complete['math_score'] >= 70)]
students_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [14]:
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [15]:
students_passing_reading = school_data_complete[(school_data_complete['reading_score'] >= 70)]
students_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [16]:
school_students_passing_reading = students_passing_math.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [17]:
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
students_passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [18]:
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [19]:
school_passing_math = {
    'school_name' : ['Bailey High School', 'Cabrera High School', 'Figueroa High School', 'Ford High School', 
                    'Griffin High School', 'Hernandez High School', 'Holden High School', 'Huang High School',
                    'Johnson High School', 'Pena High School', 'Rodriguez High School', 'Shelton High School', 
                    'Thomas High School', 'Wilson High School', 'Wright High School'],
    'passing_math' : ['3318', '1749','1946', '1871', '1371', '3094', '395', '1916', '3145', '910', '2654',
                      '1653', '1525', '2143', '1680']
}

per_school_students_passing_math = pd.DataFrame
per_school_students_passing_math

pandas.core.frame.DataFrame

In [ ]:
pre_summary = pd.merge(school_type, per_school_counts, per_school_budget, per_school_capita, how="left", on=["school_name", "school_name"])

col_names =  ['A', 'B', 'C']
my_df  = pd.DataFrame(columns = col_names)
my_df

In [136]:
math_students = pd.merge(per_school_counts, per_school_students_passing_math, how="left", on=["school_name", "school_name"])
math_students

TypeError: Can only merge Series or DataFrame objects, a <class 'type'> was passed

In [ ]:
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_math

,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,Rodriguez High School,Shelton High School,Thomas High School,Wilson High School,Wright High School,school_name,size
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
per_school_passing_reading

In [ ]:
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate

In [ ]:
school_summary = pd.DataFrame(
    [
       {
            "School Name": school_name, 
            "School Type": school_type, 
            "Total Students": size, 
            "Total School Budget": budget, 
            "Per Student Budget", 
            "Average Math Score", 
            "Average Reading Score", 
            "% Passing Math", 
            "% Passing Reading", 
            "% Overall Passing"
       }
    ]
)
school_summary

In [ ]:
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary