In [61]:
import pandas as pd
from pathlib import Path

In [62]:
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [63]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [64]:
school_budget = school_data["budget"].sum()
school_budget

24649428

In [65]:
avg_math = student_data["math_score"].mean()
avg_math

78.98537145774827

In [66]:
avg_read = student_data["reading_score"].mean()
avg_read

81.87784018381414

In [67]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [68]:
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [69]:
total_students = len(school_data_complete["student_name"])
total_students

39170

In [70]:
math_passing = school_data_complete.loc[school_data_complete["math_score"] > 69, [
    "student_name", "school_name", "math_score"]]
math_passing

          student_name         school_name  math_score
0         Paul Bradley   Huang High School          79
4           Bonnie Ray   Huang High School          84
5        Bryan Miranda   Huang High School          94
6        Sheena Carter   Huang High School          80
8         Michael Roth   Huang High School          87
...                ...                 ...         ...
39165     Donna Howard  Thomas High School          90
39166        Dawn Bell  Thomas High School          70
39167   Rebecca Tanner  Thomas High School          84
39168     Desiree Kidd  Thomas High School          90
39169  Carolyn Jackson  Thomas High School          75

[29370 rows x 3 columns]

In [73]:
math_students = len(math_passing["student_name"])
math_students

29370

In [74]:
percent_math = (math_students) / (total_students)*100
percent_math

74.9808526933878

In [75]:
read_passing = school_data_complete.loc[school_data_complete["reading_score"] > 69, [
    "student_name", "school_name", "reading_score"]]
read_passing

          student_name         school_name  reading_score
1         Victor Smith   Huang High School             94
2      Kevin Rodriguez   Huang High School             90
4           Bonnie Ray   Huang High School             97
5        Bryan Miranda   Huang High School             94
6        Sheena Carter   Huang High School             82
...                ...                 ...            ...
39165     Donna Howard  Thomas High School             99
39166        Dawn Bell  Thomas High School             95
39167   Rebecca Tanner  Thomas High School             73
39168     Desiree Kidd  Thomas High School             99
39169  Carolyn Jackson  Thomas High School             95

[33610 rows x 3 columns]

In [76]:
read_students = len(read_passing["student_name"])
read_students

33610

In [77]:
percent_read = (read_students) / (total_students)*100
percent_read

85.80546336482001

In [78]:
both_scores = school_data_complete.loc[school_data_complete["reading_score"] > 69, [
    "student_name", "school_name", "reading_score", "math_score"]]
both_scores

          student_name         school_name  reading_score  math_score
1         Victor Smith   Huang High School             94          61
2      Kevin Rodriguez   Huang High School             90          60
4           Bonnie Ray   Huang High School             97          84
5        Bryan Miranda   Huang High School             94          94
6        Sheena Carter   Huang High School             82          80
...                ...                 ...            ...         ...
39165     Donna Howard  Thomas High School             99          90
39166        Dawn Bell  Thomas High School             95          70
39167   Rebecca Tanner  Thomas High School             73          84
39168     Desiree Kidd  Thomas High School             99          90
39169  Carolyn Jackson  Thomas High School             95          75

[33610 rows x 4 columns]

In [79]:
both_scores2 = both_scores.loc[both_scores["math_score"] > 69, ["student_name", "school_name", "reading_score", "math_score"]]
both_scores2

          student_name         school_name  reading_score  math_score
4           Bonnie Ray   Huang High School             97          84
5        Bryan Miranda   Huang High School             94          94
6        Sheena Carter   Huang High School             82          80
8         Michael Roth   Huang High School             95          87
9       Matthew Greene   Huang High School             96          84
...                ...                 ...            ...         ...
39165     Donna Howard  Thomas High School             99          90
39166        Dawn Bell  Thomas High School             95          70
39167   Rebecca Tanner  Thomas High School             73          84
39168     Desiree Kidd  Thomas High School             99          90
39169  Carolyn Jackson  Thomas High School             95          75

[25528 rows x 4 columns]

In [80]:
both_pass_studs = len(both_scores2["student_name"])
both_pass_studs

25528

In [81]:
overall_pass = (both_pass_studs) / (total_students)*100
overall_pass

65.17232575950983